@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	font-family: 'Roboto', sans-serif;
}
/*
 *  Range slider css
 */
input[type=range] {
	-webkit-appearance: none;
	margin: 20px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	animate: 0.2s;
	background: #03a9f4;
	border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #03a9f4;
}
.range-wrap{
	position: relative;
}
.range-value{
	position: absolute;
	top: 17px;
	z-index: -1;
}
.range-value span{
	max-width: 100px;
	min-width: 30px;
	white-space: nowrap;
	padding: 0 5px;
	line-height: 24px;
	text-align: center;
	background: #03a9f4;
	color: #fff;
	font-size: 12px;
	display: block;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 6px;
}
.range-value span:before{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #03a9f4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

/*
 Grid for Greenhouse
 */
.greenhouse-grid{
	display: inline-block;
	background: green;
	padding: 20px 10px 40px;
	border: 2px solid #000;
}
.grid-line {
	display: inline-block;
	width: 50px;
	text-align: center;
	margin: 0 10px;
}
.grid-position {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	width: 100%;
	background: #fff;
}
.grid-position:last-child{
	border-bottom: 1px solid #999;
}
input[type="radio"]:checked+label.grid-position{
	background: #0f5132;
	color: #fff;
}