.greenhouse-grid{
	display: inline-block;
	background: green;
	padding: 20px 10px 40px;
	border: 2px solid #000;
}
.grid-line {
	display: inline-block;
	width: 50px;
	text-align: center;
	margin: 0 10px;
}
.grid-position {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	width: 100%;
	background: #fff;
}
.grid-position:last-child{
	border-bottom: 1px solid #999;
}
input[type="radio"]:checked+label.grid-position{
	background: #0f5132;
	color: #fff;
}