<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>FilePond PHP Boilerplate Project</title>
        <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
        <style>
            form {
                max-width: 24em;
            }
        </style>
    </head>
    <body>

        <form action="filepond/process" method="post" enctype="multipart/form-data">
            <input type="file" name="filepond[]" multiple>
            <button type="submit">Submit</button>
        </form>

        <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

        <script src="/assets/js/filepond.js"></script>
    </body>
</html>